.main_container {
  background-color: rgba(33, 150, 243, 1);
  /* margin: 0 auto; */
  position: fixed;
  width: 100%;
  z-index: 2;
  
}

.links_container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  padding: 0 62px;
  margin: 0 auto;

}

.links_container__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.70);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  letter-spacing: 0.25px;
  padding: 23px 12px;
  display: block;
  cursor: pointer;
  text-align: center;
}


.links_container__link_active {
  color: white;
  background: #1E88E5;
}